#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}

.app {
  display: flex;
  margin-left: -1em;
  margin-right: -1em;
}

.section {
  border: 1px solid orange;
  margin: 0 1em;
  padding: 2em;
  width: 250px;
}

.section:hover {
  cursor: pointer;
}
